.swiper-container {
  position: relative;
  .swiper-pagination {
    bottom: 0 !important;
  }
}

.nav-button {
  color: #000; /* Change to desired color */
  opacity: 0.8;
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  .prev-button {
    left: 0;
    &:hover {
      opacity: 1;
    }
  }
  .next-button {
    right: 0;
    &:hover {
      opacity: 1;
    }
  }
}

.swiper {
  @apply mobile:ml-mobile_container tablet:ml-tablet_container laptop:mx-laptop_container desktop:mx-0 !important;
}

.swiper-fluid {
  .swiper {
    overflow: visible;
  }
}
.swiper-slide {
  height: auto !important;
}
