@import './scss/_index.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --desktop-container-padding-x: 120px;
    --laptop-container-padding-x: 120px;
    --tablet-container-padding-x: 20px;
    --mobile-container-padding-x: 20px;

    --desktop-header-height: 88px;
    --desktop-section-paddingY: 120px;
  }
}
