@import './scss/_index.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

@layer base {
  :root {
    --desktop-container-padding-x: 120px;
    --laptop-container-padding-x: 120px;
    --tablet-container-padding-x: 20px;
    --mobile-container-padding-x: 20px;

    --desktop-header-height: 88px;
    --desktop-section-paddingY: 120px;
  }
}

@layer components {
  .container {
    @apply mobile:px-mobile_container tablet:px-tablet_container laptop:px-laptop_container desktop:px-desktop_container;
  }

  .smooth-transition {
    @apply transition-transform duration-300 ease-in-out;
  }

  .swiper-infinity-slider {
    .swiper-wrapper {
      @apply ease-linear;
    }
  } 
}
