$typo-font-weight:
  'bold' 800,
  'regular' 400,
  'light' 200;

$typo:
  'h1' 48px 56px,
  'h2' 36px 40px,
  'h3' 30px 36px,
  'h4' 24px 32px,
  'headline' 20px 28px,
  'body' 16px 24px,
  'subtitle' 14px 20px,
  'caption' 14px 20px,
  'footnote' 12px 16px;

@each $typo-name, $typo-size, $line-height in $typo {
  @each $font-weight-name, $font-weight-value in $typo-font-weight {
    .#{$typo-name}-#{$font-weight-name} {
      font-size: $typo-size;
      line-height: $line-height;
      font-weight: $font-weight-value;
    }
  }
}